@{
    ViewData["Title"] = "Kustuta";
    Layout = "_Layout";
    var itemId = Model?.ItemId?? string.Empty;  
    var token = Model?.Token?? string.Empty;  
}

<style>
    .wrapper {
        display: flex;
        width: 100%;
        flex: auto;
    }

    .title {
      background-color: steelblue;
      color: white;
      text-align: center;
      width: 25%;
      aspect-ratio: 10/1;
    }

    .picture-div {
      background-image: url('lib/libled.jpg');
      background-position: center;
      background-size: cover;
      width: 75%;
      aspect-ratio: 10/1;
    }
</style>

<div class="wrapper">
    <div class="title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="picture-div"> </div>
</div>

<p style="color:steelblue">@ViewData["SubTitle"]</p>
<hr />
<div>
  
    @RenderBody()
    
    <button class="btn btn-primary" onclick="history.back()">Tagasi</button>
    
    <form method="post"

        asp-route-id="@itemId"
        asp-route-token="@token"
        asp-page-handler="Delete"
        asp-route-order="@Model?.CurrentOrder"
        asp-route-index="@Model?.PageIndex" 
        asp-route-filter="@Model?.CurrentFilter"
    >
        <input type="submit" value="Kustuta" class="btn btn-danger" />   
    </form>
</div>
